@charset "UTF-8";

body{
  font-family: 'Lato';
}
a{
  text-decoration: none;
  display: inline-block;
}
img{
  vertical-align: center;
}
.width_size{
  width: 1100px;
  margin: 0 auto;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.whitecolor{
  color: #fff;
}
.textcolor{
  color:  #333;
}
.backrlound-white{
  background-color: #f2f2f2;
}
.backrlound-Green{
  background-color: #74cfae;
}
.font_Raleway{
  font-family: 'Raleway';
}
.header{
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 15px 0;
}
.header_box_contact{
  font-size: 12px;
  padding: 14px 12px;
  float: right;
}
.header_bolt{
  color: #666;
  float: left;
}
.header_box{
  width: 100%;
  margin: 0 auto;
}
.title{     
  width: 100%;
  padding:250px 0 250px;
  text-align: center; 
}
.title_box_text_top{
  font-weight: 700;
  font-size: 90px;
  color: #74cfae;
  text-align: center
}
.title_box_text_bottom{
  margin-top:20px;
  font-size: 30px;
  color: #c0c0c0;
}
.main_what_top_text{
  font-size: 24px; 
}
.main_what_bottom_text{
  font-size: 20px;
  margin-top: 35px;
  line-height: 25px;
}
.main_works{
  padding: 60px 0 70px 0; 
}
.main_works_box_name{
  font-size: 24px;
  text-align: center;
  margin-bottom:40px;
}
.main_works_box_img > a:hover{
  opacity: 1;
}
.main_works_box_button:hover{
  color:  #333;
}
.nav_fa:hover{
  background-color: #fff;
} 
.footer_box{
  padding: 20px 0;
  text-align: right;
}
.footer_box_txt_in{
  display: inline-block;
}

@media screen and (min-width: 1200px){
main{
  padding-top: 80px;
}
.main_what{
  padding-top: 50px;
}
.main_box_left{
  float: left;
}
.main_box_right{
  float: right;
  width: 750px;
  text-align: center;
}
.main_works_box_link{
  margin-right: 100px;
  float:left;
  opacity: 0.7;
  transition: 0.3s;
}
.main_works_box_link:nth-child(n+4){
  margin-top: 80px;
}
.main_works_box_link:nth-child(3n){
  margin-right: 0;
}
.main_works_box_smoll{
  margin-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main_works_box_text{
  text-align: center;
  margin-right: 90px;
  width: 530px;  
}
.main_works_box_button{
  font-size: 12px;
  padding: 20px;  
  transition: 0.3s;
  cursor: pointer; 
}
.main_skill{
  background-color: #4e4e4e;
}
.main_skill{
  padding:70px 0 100px 0;
  text-align: center;
}
.main_skill_name{
  font-size: 25px;
  margin-bottom: 70px;
}
.main_skill_img{
  display: inline-block;
  margin-left: 180px;
  line-height: 30px;
  font-size: 16px;
}
.main_skill_img:first-child{
  margin-left: 0;
}
.main_nav{
  padding: 200px 0;
  display: flex;
  text-align: center;
  justify-content: center;
}
.nav_fa{
  font-size: 3em ;
  color: #74cfae;
  cursor: pointer; 
  transition: 0.3s;
  width:185px;
  padding: 20px 0;
}
.humberger{
  display: none;
}}

@media screen and  (min-width: 767px) and ( max-width:1199px){
.header_box{
  width: 97%;
}
.title_box{
  width: 97%;
  margin: 0 auto;
}
main{
  padding-top: 80px;
}
.main_what{
  padding: 50px 0 25px; 
}
.main_what_box{
  width: 97%;
  text-align: center;
}
.main_box_right{
  width: 650px;
  margin: 0 auto;
  text-align: center;
  }
.main_what_top_text{
  margin-top: 20px;
  font-size: 24px; 
}
.main_works_box{
  width: 97%;
}
.main_works_box_link{
  opacity: 0.7;
  transition: 0.3s;
  display: block;
  line-height: 0;
  width: 300px;
  margin: 0 auto;
}
.main_works_box_link:nth-child(3n+3){
  margin-bottom: 80px;
}
.main_works_box_link:nth-child(3n+6){
  margin-bottom: 0;
}
.main_works_box_smoll{
  margin-top: 90px;
  width: 100%;
  text-align: center;
}
.main_works_box_text{
  margin: 0 auto;
  display: block;
  width: 530px;
  margin-bottom:40px;   
}
.main_works_box_button{
  display: inline-block;
  font-size: 12px;
  padding: 20px;  
  transition: 0.3s;
  cursor: pointer;  
}
.main_skill{
  background-color: #4e4e4e;
  padding:70px 0 100px 0;
  text-align: center;
}
.main_skill_box{
  width: 97%;
}
.main_skill_img{
  display: block;
  margin-bottom: 88px;
  line-height: 30px;
  font-size: 16px;
}
.main_skill_img:first-child{
  margin-top: 40px;
}
.main_skill_img:last-child{
  margin-bottom: 0;
}
.main_nav_box{
  width: 97%;
}
.main_nav{
  padding: 200px 0;
  display: flex;
  text-align: center;
  justify-content: center;
}
.nav_fa{
  font-size: 3em ;
  color: #74cfae;
  cursor: pointer; 
  transition: 0.3s;
  width:185px;
  padding: 20px 0;
}
.footer_box_text{
  width: 97%;
}
.humberger{
  display: none;
}}
@media screen and (max-width:766px){
.header_box{
  width: 97%;
}
.title{     
  width: 100%;
  padding:160px 0 130px;
  text-align: center; 
}
.title_box{
  width: 97%;
  margin: 0 auto;
}
.title_box_text_top{
  font-weight: 700;
  font-size: 80px;
  color: #74cfae;
  text-align: center
}
.title_box_text_bottom{
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}
.main_what{
  padding: 50px 0 25px; 
}
.main_what_box{
  width: 97%;
  text-align: center;
}
.main_box_right{
  width: auto;
  margin: 0 auto;
  text-align: center;
}
.main_what_top_text{
  margin-top: 20px;
  font-size: 24px; 
}
.main_works_box{
  width: 97%;
}
.main_works_box_link{
  opacity: 0.7;
  transition: 0.3s;
  display: block;
  width: 300px;
  margin: 0 auto;
  line-height: 0;
}
.main_works_box_link:nth-child(3n+3){
margin-bottom: 80px;
}
.main_works_box_link:nth-child(3n+6){
  margin-bottom: 0;
}
.main_works_box_smoll{
  margin-top: 90px;
  width: 100%;
  text-align: center;
}
.main_works_box_text{
  margin: 0 auto;
  display: block;
  width: auto;
  margin-bottom:40px;   
}
.main_works_box_button{
  display: inline-block;
  font-size: 12px;
  padding: 20px;  
  transition: 0.3s;
  cursor: pointer;  
}
.main_skill{
  background-color: #4e4e4e;
  padding:70px 0 100px 0;
  text-align: center;
}
.main_skill_box{
  width: 97%;
}
.main_skill_img{
  display: block;
  margin-bottom: 88px;
  line-height: 30px;
  font-size: 16px;
}
.main_skill_img:first-child{
  margin-top: 40px;
}
.main_skill_img:last-child{
  margin-bottom: 0;
}
.main_nav{
  padding: 50px 15px;
}
.main_nav_box{
  width: 97%;
  text-align: center;
}
.main_nav_box_fa{
  display: block;
}
.nav_fa{
  font-size: 3em ;
  color: #74cfae; 
  transition: 0.3s;
  width: 100%;
  padding: 20px 0;
}
.footer_box_text{
  width: 97%;
}
.humberger {
  float:right;
  z-index: 3;
  position: relative;
  height: 40px;
  width: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 2;
}
.humberger div {
  position: absolute;
  left: 15px;
  width: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  z-index: 3;
}
.humberger div:nth-of-type(1) {
  top: 12px;
}
.humberger div:nth-of-type(2) {
  top: 18px;
}
.humberger div:nth-of-type(3) {
  top: 25px;
}
.humberger:checked ~ .header_box_contact{
  display:block
}
.header_box_contact{
  display: none;
}}