@charset "UTF-8";
a{
  text-decoration: none;
}
.width_size{
  width: 1100px;
  margin: 0 auto;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.crw{
  color: #fff;
}
.cob{
  color:  #333;
}
.bgcogl{
  background-color: #f2f2f2;
}
.bgcoge{
  background-color: #74cfae;
}
.body{
  font-family: 'Lato';
}
.font_Raleway{
  font-family: 'Raleway';
}
.header{
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 15px 0;
}
.header_box{
  width: 1100px;
  margin: 0 auto;
}
 .header_bolt{
  float:left;
  cursor: pointer; 
  color:#666
}
.header_box_contact{
  font-size: 12px;
  padding: 14px 12px;
  float: right;
}
.title{
  width: 100%;
  padding-top: 80px;
  padding-top:330px;
  padding-bottom: 250px;
  text-align: center; 
}
.title_box_text_top{
  font-weight: 700;
  font-size: 90px;
  color: #74cfae;
  text-align: center
}
.title_box_text_bottom{
  margin-top:20px;
  font-size: 30px;
  color: #c0c0c0;
}
.main_what{
  width: 100%;
  padding-top: 50px;
}
.main_box_left{
  float: left;
}
.main_box_right{
  float: right;
  width: 750px;
  text-align: center;
}
.main_what_top_text{
  font-size: 24px; 
}
.main_what_bottom_text{
  font-size: 20px;
  margin-top: 35px;
  line-height: 25px;
}
.main_works{
  width: 100%;
  padding: 60px 0 70px 0; 
}
.main_works_box_name{
  font-size: 24px;
  text-align: center;
  margin-bottom:40px;
}
.main_works_img{ 
  float: left;
  margin-right:  100px;
  display: block;
  opacity: 0.7;
}
a > img:hover{
  transform: 0.3;
  opacity: 1;
}
.main_works_img:nth-child(n+4){
  margin-top: 80px;
  margin-bottom: 90px;
}
.main_works_img:nth-child(3n){
  margin-right: 0;
}
.main_works_box_smoll{
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main_works_box_text{
  margin-right: 90px;
  width: 530px;  
  text-align: center;
}
.main_works_box_botann{
  font-size: 12px;
  padding: 20px;  
  transition: 0.3s;
  cursor: pointer; 
}
.main_works_box_botann:hover{
  color:  #333;
}
.main_skill{
  width: 100%;
  background-color: #4e4e4e;
  overflow:auto;
}
.main_skill{
padding:70px 0 100px 0;
text-align: center;
}
.main_skill_name{
  font-size: 25px;
  margin-bottom: 70px;
}
.main_skill_img{
  display: inline-block;
  margin-left: 180px;
  line-height: 30px;
  font-size: 16px;
}
.main_skill_img:first-child{
  margin-left: 40px;
}
.main_nav{
  width: 100%; 
  padding: 200px 0;
  overflow:auto;
  display: flex;
  text-align: center;
  justify-content: center;
}
.nav_fa{
  font-size: 3em ;
  color: #74cfae;
  cursor: pointer; 
  transition: 0.3s;
  width:185px;
  padding: 20px 0;
}
.nav_fa:hover{
  background-color: #fff;
} 
.footer_box{
  width: 100%;
  text-align: right;
}
.footer_box_txt_in{
  padding: 20px 0;
  display: inline-block;
}